body{
	font-size: 0.7em;
	font-family: Trebuchet MS, verdana, arial, sans-serif;
}
.botonletra{
	font-size: 0.9em;
	margin: 2px;
	width: 30px;
	text-align: center;
}
.dialogletra{
	font-size: 3em;
	text-align: center;
	padding-top: 15px;
}
#botonesletras{
	width: 330px;
	clear: both;
}
#dibujoahorcado{
	margin-bottom: 20px;
}
#letras{
	font-size: 3em;
	text-align:center;
	width: 320px;
	clear: both;
	margin-bottom: 10px;
}
#letras span{
	width: 30px;
	text-align:center;
	padding-left: 5px;
}